***

### **Template: 1**

<h4><span style="padding-left:10px;color:black;"><b>1. True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>2. False</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>3. Error</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>4. None</b></span></h4>

***

### **Template: 2**

<h4><span style="padding-left:10px;color:black;"><b>A). True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>B). False</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>C). Error</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>D). None</b></span></h4>

***

In [ ]:
L = [*range(4)]

### **Python Quiz**
#### **What is output?**

In [ ]:
S = 'one,two,three'
S.split()

<h4><span style="padding-left:10px;color:black;"><b>1. ['one', 'two', 'three']</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>2. ['one,two,three']</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>3. 'one', 'two', 'three'</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>4. Error</b></span></h4>

### **Python Quiz**
#### **What is output?**

In [ ]:
print(--10)

<h4><span style="padding-left:10px;color:black;"><b>A). --10</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>B). -10</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>C). 10</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>D). None</b></span></h4>

### **Python Quiz**
#### **What is output?**

In [ ]:
 True if 5 else False

<h4><span style="padding-left:10px;color:black;"><b>A). True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>B). Error</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>C). False</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>D). None</b></span></h4>

### **Python Quiz**
#### **What is output?**

In [ ]:
D = {0: 'Hi', 1: 'Python'}
all(D)

<h4><span style="padding-left:10px;color:black;"><b>A). True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>B). Error</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>C). None</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>D). False</b></span></h4>

### **Python Quiz**
#### **What is output?**

In [ ]:
L = [1, 2, 0, 3]

def chk(values):
    for val in values:
        if not val:
            return False
    return True
    
chk(L)

<h4><span style="padding-left:10px;color:black;"><b>A). True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>B). [1, 2, 0, 3]</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>C). None</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>D). False</b></span></h4>

### **What is output ?**

In [ ]:
s = iter('Micheal')
print([s][1])

1. Error
2. Micheal
3. i
4. M

### **What is output?**

In [ ]:
def add(a, b):
    a + b
    
print(add(2, 3))

A. 5
B. None
C. a + b
D. 2, 3

### **What is output of this program?**

In [ ]:
%%python3

for i in range(6):
    pass
else:
    print(i)

A). Error
B). 5
C). 6
D). None

### **What is output of this program?**

In [ ]:
%%bash

for i in {1..6}; do
: echo $i
done
echo $i

A). Error
B). 5
C). 6
D). None

### What is output of this program?

a = [ 1,2,3,4,5]
for i in range(1,5):
    a[~i+1] = a[i]
for i in range(0,5):
    print(a[i], end = ' ')

1. 1,2,3,4,5
2. 2,4,6,8,10
3. 1 2 3 3 2
4. 1 2 3 4 2

### What is Output this Program?

print(7 and 'O' and 1)

1. 7
2. O
3. 1
4. True
5. False

### What is Output this Program?

In [ ]:
lst = ['M', '', "A", 'N']
print([i for i in lst if i])

1. ['M', 'A', 'N']
2. ['M', '', "A", 'N']
3. ['MAN']
4. ['M AN']

### What is Output this Program?

first_name = 'Manavalan'
last_name = 'Micheal'
name = first_name or last_name
print(name)

1. Manavalan Micheal
2. Micheal
3. Manavalan
4. None

### What is Output this Program?

In [ ]:
name = 'Manavalan'
name.replace('a','',1)

1. 'Mnvln'
2.  Mnavalan
3.  Manavaln
4. Error

### What is Output this Program?

'Python'.split()

1. ['P', 'y', 't', 'h', 'o', 'n']
2. None
3. ['Python']
4. 'Python'
5. Python

### What are correct statement to fetch 5 only?

num = '3257560159585'

1. import re; re.findall(r'5',num)
2. [i for i in list(num) if i ==5]
3. [i for i in num if i ==5]
4. [i for i in num if int(i) ==5]

In [ ]:
s = iter('Micheal')
list(zip(s, range(1,4),s))[0]

### What is output of this program?

import re
mystring = 'P*&yt-*h$%o@n+'
''.join(re.findall(r'[a-zA-Z', mystring)

1. 'Python'
2.

### What is output of this program?

string = 'AB' + 'BA'
print(string[::-1])

1. ABBA
2. BAAB
3. AABB
4. BBAA

### What is output of this program?

'Correct' if 'AB' + 'BA' == 'AB' else 'Wrong'

### What is output of this program?

lst = [1,4,6,10]
lst[4]

1. 10
2. In

### What is output of this program?

def num(x,y):
    return x+y, x-y
print(num(19,4))

1. 23, 15
2. 19, 4
3. (23, 15)
4. 38

### What is output of this program?

numbers = [1, 2, 2, 4, 5, 7, 8, 3, 4, 6, 1, 4, 6]
print(list({num for num in numbers}))

1. {1:1,2:2,4:3,5:1,6:2,7:1,8:1}
2. {1:2,2:2,3:1,4:3,5:1,6:2,7:1,8:1}
3. ValueError
4. [1, 2, 3, 4, 5, 6, 7, 8]

### What is output of this program?

In [ ]:
lst = [100, 388, 567, 3]
for i in range(len(lst)):
    lst[i] = i
lst

### What is output of this program?

In [ ]:
a = {0:0}
del a[0]
a[0] = 0
a

### **What is output of this program?**

In [ ]:
result = True if len('Micheal') >= 7 else False
print(result)

### **What is output of this program?**

In [ ]:
bool('HI' and 1)

### **Is this solvable?**

In [ ]:
What is () + () + () = 30 using 1,3,5,7,9,11,13,15?

In [ ]:
1. Yes
2. No
3. If Yes, explain
4. If No, explain

### What is output

In [ ]:
print('' or 20)

### **What is output?**

In [ ]:
lst = M, A, N, A, V, A, L, A, N = [i%8 for i in range(9)]
print(V)

### **What is output?**

In [ ]:
lst = ['M', '', "A", 0, 5 , 'N',  1, None, 3, 'S']
[i for i in lst if i or i == 0]

### What is output?

In [ ]:
print(*(i*2 for i in range(9)))

### **What is output?**

In [ ]:
%%bash

name=("Ram", "Robert", "Micheal", "Siva")
echo ${name[2+1]}

I), Ram
II). Robert
III). Mcheal
IV). Siva

### **What is output?**

In [ ]:
%%python3

name=("Ram", "Robert", "Micheal", "Siva")

print(f"{name[-1]}")

I). Ram
II). Robert
III). Mcheal
IV). Siva

### **What is output?**

In [ ]:
name = 'Manavalan Micheal'.split()[1]
print(name)

1. Manavalan
2. None
3. Micheal
4. Manavalan Micheal

### **What is output?**

In [ ]:
echo "Manavalan Micheal" | awk '{print $2}'

1. Manavalan
2. None
3. Micheal
4. Manavalan Micheal

### **Guess What output will come?**

In [2]:
from random import randrange

print(randrange(20))

1

A). 15
B). 12
C). 4
D). We could not Guess it.

### **Guess What Color Print?**

In [ ]:
from random import choice

colors = ['Red', 'Rose', 'Black', 'Gold']
choice(colors)

1. Red
2. Rose
3. Black
4. Not Guess

### **How many elements in this list?**

In [1]:
lst = ['SN;"Name";"Quotes"']
print(len(lst))

1

### **Python Quiz**
#### **What is output?**

In [ ]:
lang = 'Python'
lang[-2:-4]

**1. yth**

**2. tho**

**3. Blank Output**

**4. Error**

### **Python Quiz**
#### **What is output?**

In [ ]:
L = []
all(L)

<h4><span style="padding-left:10px;color:black;"><b>1. True</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>2. False</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>3. Error</b></span></h4>
<h4><span style="padding-left:10px;color:black;"><b>4. None</b></span></h4>