### format --- > "{replacement field}".format('string')

format() method takes any number of parameters. But, is divided into two types of parameters:

Positional parameters - list of parameters that can be accessed with index of parameter inside curly braces {index}
Keyword parameters - list of parameters of type key=value, that can be accessed with key of parameter inside curly braces {key}

### esacpe chracter {{ and }}

If you need to include a brace character in the literal text, it can be escaped by doubling: {{ and }}.

In [45]:
"{{Hi}}".format()

'{Hi}'

### filedname

#### attribute_name

In [27]:
"{firstname} {lastname}".format(firstname = 'Manavalan', lastname = 'Micheal')

'Manavalan Micheal'

#### Positional argument specifiers

The positional argument specifiers can be omitted for str.format(), 
so '{} {}'.format(a, b) is equivalent to '{0} {1}'.format(a, b).

In [48]:
'{} {}'.format('a', 'b')

'a b'

In [50]:
'{0} {1}'.format('a', 'b')

'a b'

#### element_index

In [8]:
"{0} {1}".format('Linux','Python')

'Linux Python'

#### index_string

In [31]:
"{1}".format('L','i','n','u','x')

'i'

### conversion

#### repr --> quote

In [16]:
"{!r}".format("Linux")

"'Linux'"

In [38]:
print("{!r}".format("Linux"))

'Linux'

#### string

In [33]:
"{!s}".format("Linux")

Linux

In [37]:
print("{!s}".format("Linux"))

Linux

#### ascii

In [36]:
"{!a}".format("Linux")

"'Linux'"

In [35]:
print("{!a}".format("Linux"))

'Linux'

### Some conversion examples:

"Harold's a clever {0!s}"        # Calls str() on the argument first
"Bring out the holy {name!r}"    # Calls repr() on the argument first
"More {!a}"                      # Calls ascii() on the argument first

In [54]:
print("Harold's a clever {0!s}".format('okay'))

Harold's a clever okay

In [56]:
"Bring out the holy {name!r}".format(name = 'day')

"Bring out the holy 'day'"

### Simple format string examples:

"First, thou shalt count to {0}"  # References first positional argument
"Bring me a {}"                   # Implicitly references the first positional argument
"From {} to {}"                   # Same as "From {0} to {1}"
"My quest is {name}"              # References keyword argument 'name'
"Weight in tons {0.weight}"       # 'weight' attribute of first positional arg
"Units destroyed: {players[0]}"   # First element of keyword argument 'players'.

### format specifiers

The format_spec field contains a specification of how the value should be presented, including such details as field width, alignment, padding, decimal precision and so on. Each value type can define its own “formatting mini-language” or interpretation of the format_spec.

#### Zero float means integer

In [19]:
"{:.0f}".format(234.1423)

'234'

#### 1 float

In [21]:
"{:.1f}".format(234.1423)

'234.1'

#### 2 float

In [22]:
"{:.2f}".format(234.1423)

'234.14'

#### Percentage

In [58]:
"{:%}".format(20/100)

'20.000000%'

In [63]:
"{:.0%}".format(20/100)

'20%'

#### thousands separator

In [26]:
"{:,}".format(12345678)

'12,345,678'

## Format Specification Mini-Language

“Format specifications” are used within replacement fields contained within a format string 
to define how individual values are presented

### The general form of a standard format specifier is:

The following options for format specifications, although some of the formatting options 
are only supported by the numeric types.

### fill  ::=  anycharacter

If a valid align value is specified, it can be preceded by a fill character that 
can be any character and defaults to a space if omitted. It is not possible to use 
a literal curly brace (“{” or “}”) as the fill character in a formatted string literal

In [67]:
# No fill

print("{}".format(8))

8

In [65]:
# filled with empty space

print("{:2}".format(8))

 8

In [69]:
# filled with zero

print("{:02}".format(8))

08

In [91]:
# filled with *
'{:*>10}'.format('')

'**********'

In [57]:
'{:-<10}'.format('test')

'test------'

In [61]:
'{:#>10}'.format('test')

'######test'

### align    ::=  "<" | ">" | "=" | "^"

The meaning of the various alignment options is as follows:

Option	Meaning
'<'	    Forces the field to be left-aligned within the available space (this is the default for most objects).
'>'	    Forces the field to be right-aligned within the available space (this is the default for numbers).
'='	    Forces the padding to be placed after the sign (if any) but before the digits. This is used for printing           fields in the form ‘+000000120’. This alignment option is only valid for numeric types. It becomes the             default when ‘0’ immediately precedes the field width.
'^'	    Forces the field to be centered within the available space.

### width           ::=  digit+

width is a decimal integer defining the minimum field width. If not specified, then the 
field width will be determined by the content.

When no explicit alignment is given, preceding the width field by a zero ('0') character 
enables sign-aware zero-padding for numeric types. This is equivalent to a fill character 
of '0' with an alignment type of '='.

### sign            ::=  "+" | "-" | " "

The sign option is only valid for number types.

Option	 Meaning
'+'	     indicates that a sign should be used for both positive as well as negative numbers.
'-'	     indicates that a sign should be used only for negative numbers (this is the default behavior).
space	 indicates that a leading space should be used on positive numbers, and a minus sign on negative numbers.

### #

The '#' option causes the “alternate form” to be used for the conversion. The alternate form is defined differently for different types. This option is only valid for integer, float, complex and Decimal types. For integers, when binary, octal, or hexadecimal output is used, this option adds the prefix respective '0b', '0o', or '0x' to the output value. For floats, complex and Decimal the alternate form causes the result of the conversion to always contain a decimal-point character, even if no digits follow it. Normally, a decimal-point character appears in the result of these conversions only if a digit follows it. In addition, for 'g' and 'G' conversions, trailing zeros are not removed from the result.

### grouping_option ::=  "_" | ","

The ',' option signals the use of a comma for a thousands separator. 
For a locale aware separator, use the 'n' integer presentation type instead.


The '_' option signals the use of an underscore for a thousands separator for floating point 
presentation types and for integer presentation type 'd'. For integer presentation types
'b', 'o', 'x', and 'X', underscores will be inserted every 4 digits. 
For other presentation types, specifying this option is an error.

### precision       ::=  digit+

The precision is a decimal number indicating how many digits should be displayed after 
the decimal point for a floating point value formatted with 'f' and 'F', or before and after 
the decimal point for a floating point value formatted with 'g' or 'G'. For non-number types 
the field indicates the maximum field size - in other words, how many characters will be used 
from the field content. The precision is not allowed for integer values.

### type            ::=  "b" | "c" | "d" | "e" | "E" | "f" | "F" | "g" | "G" | "n" | "o" | "s" | "x" | "X" | "%"

The available string presentation types are:

Type	Meaning
's'	    String format. This is the default type for strings and may be omitted.
None	The same as 's'.

The available integer presentation types are:

Type	Meaning
'b'	    Binary format. Outputs the number in base 2.
'c'	    Character. Converts the integer to the corresponding unicode character before printing.
'd'	    Decimal Integer. Outputs the number in base 10.
'o'	    Octal format. Outputs the number in base 8.
'x'	    Hex format. Outputs the number in base 16, using lower-case letters for the digits above 9.
'X'	    Hex format. Outputs the number in base 16, using upper-case letters for the digits above 9.
'n'	    Number. This is the same as 'd', except that it uses the current locale setting to insert the appropriate         number separator characters.
None	The same as 'd'.

The available presentation types for floating point and decimal values are:

Type	Meaning
'e'	    Exponent notation. Prints the number in scientific notation using the letter ‘e’ to indicate the exponent.         The default precision is 6.
'E'	    Exponent notation. Same as 'e' except it uses an upper case ‘E’ as the separator character.
'f'	    Fixed-point notation. Displays the number as a fixed-point number. The default precision is 6.
'F'	    Fixed-point notation. Same as 'f', but converts nan to NAN and inf to INF.
'g'	    General format. For a given precision p >= 1, this rounds the number to p significant digits and then             formats the result in either fixed-point format or in scientific notation, depending on its magnitude.
'G'	    General format. Same as 'g' except switches to 'E' if the number gets too large. The representations of           infinity and NaN are uppercased, too.
'n'	    Number. This is the same as 'g', except that it uses the current locale setting to insert the appropriate         number separator characters.
'%'	    Percentage. Multiplies the number by 100 and displays in fixed ('f') format, followed by a percent sign.
None	Similar to 'g', except that fixed-point notation, when used, has at least one digit past the decimal               point. The default precision is as high as needed to represent the particular value. The overall effect is         to match the output of str() as altered by the other format modifiers.

d	Decimal integer
c	Corresponding Unicode character
b	Binary format
o	Octal format
x	Hexadecimal format (lower case)
X	Hexadecimal format (upper case)
n	Same as 'd'. Except it uses current locale setting for number separator
e	Exponential notation. (lowercase e)
E	Exponential notation (uppercase E)
f	Displays fixed point number (Default: 6)
F	Same as 'f'. Except displays 'inf' as 'INF' and 'nan' as 'NAN'
g	General format. Rounds number to p significant digits. (Default precision: 6)
G	Same as 'g'. Except switches to 'E' if the number is large.
%	Percentage. Multiples by 100 and puts % at the end.

# Excercise

### Accessing arguments by position:

In [73]:
'{0}, {1}, {2}'.format('a', 'b', 'c')

'a, b, c'

In [75]:
'{}, {}, {}'.format('a', 'b', 'c')  # Version 3.1+ only

'a, b, c'

In [76]:
'{2}, {1}, {0}'.format('a', 'b', 'c')

'c, b, a'

In [77]:
'{2}, {1}, {0}'.format(*'abc')      # unpacking argument sequence

'c, b, a'

In [78]:
'{0}{1}{0}'.format('abra', 'cad')   # arguments' indices can be repeated

'abracadabra'

In [81]:
firstname = 'Manavalan' 
lastname = 'Micheal'
"{} {}".format(firstname, lastname)

'Manavalan Micheal'

### Accessing arguments by name or keyword arguments::

In [80]:
"{firstname} {lastname}".format(firstname = 'Manavalan', lastname = 'Micheal')

'Manavalan Micheal'

In [83]:
name = {'firstname': 'Manavalan','lastname': 'Micheal'}
"{firstname} {lastname}".format(**name)

'Manavalan Micheal'

### Accessing arguments’ attributes:
Accessing attributes on objects via getattr().

In [85]:
c = 3-5j 
('The complex number {0} is formed from the real part {0.real} and the imaginary part {0.imag}.').format(c)

'The complex number (3-5j) is formed from the real part 3.0 and the imaginary part -5.0.'

In [86]:
class Point:
    def __init__(self, x, y):
        self.x, self.y = x, y
    def __str__(self):
        return 'Point({self.x}, {self.y})'.format(self=self)

str(Point(4, 2))

'Point(4, 2)'

In [104]:
# Accessing attributes on objects via getattr().

class Plant:
    type = 'tree'
    
'{p.type}'.format(p=Plant())

'tree'

In [107]:
class Plant:
    type = 'tree'
    kinds = [{'name': 'oak'}, {'name': 'maple'}]
    
'{p.type}: {p.kinds[0][name]}'.format(p=Plant())

'tree: oak'

### Custom objects:

The datetime example works through the use of the __format__() magic method. 
You can define custom format handling in your own objects by overriding this method. 
This gives you complete control over the format syntax used.

In [141]:
class Mana:
    def __format__(self, format):
        if format == 'name':
            return 'Manavalan'
    
'{:name}'.format(Mana())

'Manavalan'

### Accessing arguments’ items:

In [87]:
coord = (3, 5)
'X: {0[0]};  Y: {0[1]}'.format(coord)

'X: 3;  Y: 5'

In [96]:
person = {'first': 'Manavalan', 'last': 'Micheal'}
'{p[first]} {p[last]}'.format(p=person)

'Manavalan Micheal'

In [98]:
data = [4, 8, 15, 16, 23, 42]
'{d[0]} {d[3]}'.format(d=data)

'4 16'

### Replacing %s and %r:

In [88]:
"repr() shows quotes: {!r}; str() doesn't: {!s}".format('test1', 'test2')

"repr() shows quotes: 'test1'; str() doesn't: test2"

### Aligning the text and specifying a width:

Left Aligned - Default string algined left.

In [9]:
'{:30}'.format('left aligned')

'left aligned                  '

In [1]:
'{:<30}'.format('left aligned')

'left aligned                  '

In [13]:
'{:30}'.format(500)

'                           500'

In [14]:
'{:<30}'.format(500)

'500                           '

Right Aligned - Default number algined right.

In [11]:
'{:30}'.format(500)

'                           500'

In [15]:
'{:30}'.format('right aligned')

'right aligned                 '

In [6]:
'{:>30}'.format('right aligned')

'                 right aligned'

Centere Aligned

In [16]:
'{:^30}'.format('centered')

'           centered           '

In [17]:
'{:*^30}'.format('centered')  # use '*' as a fill char

'***********centered***********'

In [71]:
'{text:{pad}>{width}}'.format(text = 'Manavalan', pad = '*', width = 20)

'***********Manavalan'

### Replacing %+f, %-f, and % f and specifying a sign:

In [19]:
'{:+f}; {:+f}'.format(3.14, -3.14)  # show it always

'+3.140000; -3.140000'

In [20]:
'{: f}; {: f}'.format(3.14, -3.14)  # show a space for positive numbers

' 3.140000; -3.140000'

In [21]:
'{:-f}; {:-f}'.format(3.14, -3.14)  # show only the minus -- same as '{:f}; {:f}'

'3.140000; -3.140000'

### Format numbers

In [86]:
'{:d}'.format(500)

'500'

In [85]:
'{:4d}'.format(500)

' 500'

In [91]:
'{:04d}'.format(500)

'0500'

In [87]:
'{:f}'.format(3.141592653589793)

'3.141593'

In [90]:
'{:05.2f}'.format(3.141592653589793)

'03.14'

### Signed numbers

In [92]:
'{:+}'.format(50)

'+50'

In [93]:
'{:-}'.format(50)

'50'

Forces the signed (+) (-) to the leftmost position.

Forces the padding to be placed after the sign (if any) but before the digits.
This is used for printing fields in the form ‘+000000120’. This alignment option
is only valid for numeric types. It becomes the default when ‘0’ immediately precedes the field width.

In [94]:
'{:=+5d}'.format(23)

'+  23'

### Replacing %x and %o and converting the value to different bases:

In [1]:
"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)

'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [2]:
# with 0x, 0o, or 0b as prefix:
"int: {0:d};  hex: {0:#x};  oct: {0:#o};  bin: {0:#b}".format(42)

'int: 42;  hex: 0x2a;  oct: 0o52;  bin: 0b101010'

### Using the comma as a thousands separator:

In [3]:
'{:,}'.format(1234567890)

'1,234,567,890'

### Expressing a percentage:

In [4]:
points = 19
total = 22
'Correct answers: {:.2%}'.format(points/total)

'Correct answers: 86.36%'

In [5]:
points = 19
total = 22
'Correct answers: {:.0%}'.format(points/total)

'Correct answers: 86%'

### Using type-specific formatting:

In [6]:
from datetime import datetime
"{:%d-%m-%Y %H:%M:%S}".format(datetime.now())

'24-03-2019 12:18:18'

In [128]:
from datetime import datetime
'{:{dfmt} {tfmt}}'.format(datetime.now(), dfmt = '%d/%m/%y', tfmt = '%T')

'25/03/19 12:49:54'

### Nesting arguments and more complex examples:

In [75]:
'{:{pad}>{width}}'.format('Manavalan', pad = '*', width = 20)

'***********Manavalan'

In [74]:
text = 'Manavalan'
'{0:{pad}>{width}}'.format(text , pad = '*', width = 20)

'***********Manavalan'

In [72]:
'{text:{pad}>{width}}'.format(text = 'Manavalan', pad = '*', width = 20)

'***********Manavalan'

In [111]:
'{:{algin}{width}}'.format('Manavalan', algin = '^', width = '20')

'     Manavalan      '

In [114]:
name = 'Manavalan'
'{:{algin}{width}}'.format(name, algin = '^', width = '20')

'     Manavalan      '

In [113]:
'{name:{algin}{width}}'.format(name = 'Manavalan', algin = '^', width = '20')

'     Manavalan      '

In [136]:
#The nested formats can be positional arguments. Position depends on the order of the opening curly braces:
'{:{}{}{}}'.format('Manavalan', '*', '^', 20)

'*****Manavalan******'

In [132]:
'{:{}{}{}.{}}'.format(2.7182818284, '>', '+', 10, 3)

'     +2.72'

In [137]:
#keyword arguments can be added to the mix
'{:{}{sign}{}.{}}'.format(2.7182818284, '>', 10, 3, sign='+')

'     +2.72'

In [17]:
for align, text in zip('<^>', ['left', 'center', 'right']):
    print('{0:{fill}{align}16}'.format(text, fill=align, align=align))

left<<<<<<<<<<<<
^^^^^center^^^^^
>>>>>>>>>>>right

In [ ]:
string = "{:{fill}{align}{width}}"

### How to format sequence string?

In [2]:
hfmt = '{:18s}'*6
print(hfmt.format('Name', 'File', 'Dir', 'Link', 'FIFO', 'Block', 'Character'))

Name              File              Dir               Link              FIFO              Block

In [1]:
hfmt = '{:18s}' + ('  {:>5}' * 6)
print(hfmt.format('Name', 'File', 'Dir', 'Link', 'FIFO', 'Block', 'Character'))

Name                 File    Dir   Link   FIFO  Block  Character

In [3]:
lst = ['abcd04', 'abcd05', 'abcd06', 'abcd07']
hfmt = '{:10}' * len(lst)
print(hfmt.format(*lst))

abcd04    abcd05    abcd06    abcd07

In [18]:
octets = [192, 168, 0, 1]
'{:02X}{:02X}{:02X}{:02X}'.format(*octets)

'C0A80001'

In [21]:
'{:02X}'.format(192)

'C0'

In [22]:
'{:0X}'.format(192)

'C0'

In [23]:
int(_, 16)

192

In [49]:
width = 5
for num in range(5,12): 
    for base in 'dXob':
        print('{0:{width}{base}}'.format(num, base=base, width=width), end=' ')
    print()

    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     A    12  1010
   11     B    13  1011

### Truncating long strings

In [80]:
"{:.4}".format('Manavalan')

'Mana'

### Combining truncating and padding

In [82]:
'{:10.4}'.format('Manavalan')

'Mana      '

In [99]:
'{:^5.3}'.format("caterpillar")

' cat '

In [123]:
'{:.{trunc}} = {:.{trunc}f}'.format('Manavalan', 2.71489000, trunc = 3)

'Man = 2.715'

In [127]:
#The nested format can be used to replace any part of the format spec.
'{:{trunc}} = {:{trunc}f}'.format('Manavalan', 2.71489000, trunc = '.3')

'Man = 2.715'

### How to unpack str,list,dict and format?

In [72]:
'{2}, {1}, {0}'.format(*'abc')  # unpacking argument sequence

'c, b, a'

In [1]:
li = ['1', 'F', '32']

print('{} {} {}'.format(*li))

1 F 32

In [101]:
data = [4, 8, 15, 16, 23, 42]
'{d[0]} {d[3]}'.format(d=data)

'4 16'

In [102]:
coord = (3, 5)
'X: {0[0]};  Y: {0[1]}'.format(coord)

'X: 3;  Y: 5'

In [84]:
name = {'firstname': 'Manavalan','lastname': 'Micheal'}
"{firstname} {lastname}".format(**name)

'Manavalan Micheal'

In [1]:
person = {'age': 23, 'name': 'Adam'}
print("{name}'s age is: {age}".format(**person))

Adam's age is: 23

In [100]:
person = {'first': 'Manavalan', 'last': 'Micheal'}
'{p[first]} {p[last]}'.format(p=person)

'Manavalan Micheal'

### How to use indexing in format?

In [2]:
"Bin: {0:b}; Oct: {0:o}".format(25)

'Bin: 11001; Oct: 31'

### How to convert Binary,Octal,Hexadecimal from integer?

In [3]:
"Bin: {0:b}; Oct: {0:o}; Hex:{0:X}".format(77)

'Bin: 1001101; Oct: 115; Hex:4D'

### zfill

In [7]:
print("{0:02d}".format(3))

03

In [1]:
for i in range(1,11):
    print('{:b}'.format(i).zfill(4))

0001
0010
0011
0100
0101
0110
0111
1000
1001
1010

### New string format

In [1]:
sentence = 'Linux is good Operating system.'

def up_low(*args):
    lower = [i for i in list(args) if i.islower()]
    return  f'upper is {len(args)-len(lower)}, and lower is {len(lower)}'
up_low(*sentence.split())

'upper is 2, and lower is 3'

In [1]:
for left, right in zip(range(0, 8), range(8, 17)):
    print(f'{left:0>4b} {right:0>4b}')

0000 1000
0001 1001
0010 1010
0011 1011
0100 1100
0101 1101
0110 1110
0111 1111

## f string format

#### **How to use zfill in f string format?**

In [4]:
for i in range(1,5):
    print(f'abcd{i:02d}')

abcd01
abcd02
abcd03
abcd04

#### **How to use string?**

In [5]:
print(f'{"Word":15} {"Count":>17}')

Word                        Count

#### **How to use expression in f string format?**

In [8]:
print(f'{"*"*i:^12}')

    ****

#### **How to use a variable name inside a format specifier?**

In [1]:
w = 15

f'{"Mana":{w}s}'*4

'Mana           Mana           Mana           Mana           '

#### **How To Print Row And Column?**

In [4]:
'{:15s}'*1

'{:15s}'

In [9]:
fmt = '{:^35s}'*1
print(fmt.format('Manavalan'))

             Manavalan

In [11]:
'{:15s}'*2

'{:15s}{:15s}'

In [13]:
fmt = '{:20s}'*2
print(fmt.format('Manavalan', 'Micheal'))

Manavalan           Micheal

In [2]:
'{:15s}'*4

'{:15s}{:15s}{:15s}{:15s}'

In [14]:
methods = [i for i  in dir(str) if i[0].islower()]
w = str(len(max(methods, key=len))+2)
fmt = ('{:'+w+'s}')*4

for fn in zip(*[iter(methods)] *4):
    print(fmt.format(*fn))

capitalize    casefold      center        count
encode        endswith      expandtabs    find
format        format_map    index         isalnum
isalpha       isdecimal     isdigit       isidentifier
islower       isnumeric     isprintable   isspace
istitle       isupper       join          ljust
lower         lstrip        maketrans     partition
replace       rfind         rindex        rjust
rpartition    rsplit        rstrip        split
splitlines    startswith    strip         swapcase
title         translate     upper         zfill